@font-face {
    font-family: Pixeboy;
    src: url('../font/Pixeboy-z8XGD.ttf');
}

@font-face {
    font-family: Ancient;
    src: url('../font/AncientModernTales-a7Po.ttf');
}

@font-face {
    font-family: Mulish;
    src: url('../font/Mulish-Medium.ttf');
}