.arrow-key{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 20%;
}
.arr-button{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    width: 20%;
    border: none;
    background-color: rgba(0,0,0,0);
}
.btn-action{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20%;
}
.act-button{
    width: 20%;
    height: 35%;
    background-image: url(../images/action-button.png);
    background-size: 100% 100%;
    border: none;
    background-color: rgba(0,0,0,0);
}
.arrow-up{
    display: none;
    position: absolute;
    bottom: 9%;
    left: 0;
    height: 20%;
    width: 20%;
}
.up-button{
    width: 20%;
    height: 35%;
    background-image: url(../images/up-button.png);
    background-size: 100% 100%;
}
.left-button{
    width: 20%;
    height: 35%;
    background-image: url(../images/left-button.png);
    background-size: 100% 100%;
}
.down-button{
    width: 20%;
    height: 35%;
    background-image: url(../images/down-button.png);
    background-size: 100% 100%;
}
.right-button{
    width: 20%;
    height: 35%;
    background-image: url(../images/right-button.png);
    background-size: 100% 100%;
}
@media screen and (max-width: 768px) {
    .arrow-up{
        display: block;
    }
    .arrow-key{
        display: block;
    }
    .btn-action{
        display: block;
    }
}
@media screen and (max-height: 450px) and (min-width: 840px){
    .arrow-up{
        display: block;
    }
    .arrow-key{
        display: block;
    }
    .btn-action{
        display: block;
    }
}