body{
    overflow: hidden;
    margin: 0 !important;
}
.dark{
    filter: brightness(50%);
}
.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.main-display{
    width: 100lvw;
    height: 100lvh;
    margin: 0 auto;
    text-align: center;
    background-image: url("../../images/House-inside.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.image-map{
    position:relative;
    height: 100vmin;
    width: 177.778vmin;
    margin: 0 auto;
}
.sprite-box{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 5%;
}
.sprite{
    position: absolute;
    bottom: 25lvh;
    left: 330%;
    z-index: 1;
    width: 100%;
}
.sprite-down{
    opacity:0;
}
.sprite-left{
    opacity:0;
}
.sprite-right{
    opacity:0;
}
.door-msg{
    display: none;
    height: 40lvh;
    width: 30lvw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url(../../images/gallery.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.door-text{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.door-title{
    font-family: "Pixeboy";
    font-size: 3rem;
    color: #702f13;

    margin-block-end: 10% !important;
    margin-block-start: 10% !important;
}
.door-subtitle{
    display: block;
    font-family: "Pixeboy";
    font-size: 1.2rem;
}
.portfolio-msg{
    display: none;
    height: 80lvh;
    width: 60vw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url(../../images/gallery.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 9;
    animation: fadein .5s;
}
.portfolio-text{
    margin-top: 8%;
}
.portfolio-title{
    font-family: "Ancient";
    font-size: 3rem;
    color: #702f13;
    text-shadow: 1px 1px 0px #b86f50;
}
.portfolio-subtitle{
    text-align: justify;
    font-family: "Pixeboy";
    font-size: 1.2rem;
    color: #702f13;
    padding: 0 5%;
}
.list-portfolio{
    text-align: justify;
    font-family: "Pixeboy";
    font-size: 1.2rem;
    color: #702f13;
    /* padding: 0 5%; */
}
.modal-subtitle{
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translate(0%, -50%);
    width: 80%;
    height: 60%;

    font-family: "pixeboy";
    font-size: 1rem;
    overflow-y: scroll; 
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.btn-close{
    position: absolute;
    cursor: pointer;
    top: 12%;
    right: 7%;
    width: 3%;
}
.btn-close-back{
    position: absolute;
    cursor: pointer;
    top: 12%;
    right: 7%;
    width: 5%;
    z-index: 99;
}
.btn-subtitle{
    display: none;
    position: absolute;
    cursor: pointer;
    bottom: -25%;
    left:50%;
    transform: translate(-50%,0%);
    width: 50%;
    height: 30%;
    color: #471500;
    font-family: "Pixeboy";
    font-size: 100%;
    background-color: #b86f50;
    border: none;
    border-radius: 3px;
    z-index: 99;
}


.modal-awal{
    height: 80lvh;
    width: 60lvw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url(../../images/gallery.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: fadein .5s;
    z-index: 3;
}

.title-awal{
    font-family: 'Ancient';
    font-size: 4rem;
    color: #000050;
    text-shadow: 2px 2px 0px white;
    text-align: center;
}

.subtitle-awal{
    width: 80%;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Pixeboy';
    font-size: 1.5rem;
    color: #000050;
    text-align: center;
}

.continue-awal{
    position: absolute;
    bottom: 10%;
    left:50%;
    font-family: 'Pixeboy';
    font-size: 1.5rem;
    color: #000050;
    transform: translate(-50%, 0%);
}
.help{
    cursor: pointer;
    width: 7%;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50px;
}
.sound{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8%;
    width: 7%;
    max-width: 50px;
}
.mute{
    display: none;
    width: 100%;
}
.music-on{
    width: 100%;
}

.portfolio-img{
    width: 50%;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.5s; 
    -webkit-transition-timing-function: ease; 
}
.portfolio-img:hover{
    width: 80%;
}
.portfolio-logo{
    position: absolute;
    left: 8%;
    top: 10%;
    width: 8%;
    cursor:pointer;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.5s; 
    -webkit-transition-timing-function: ease; 
}

.portfolio-logo:hover{
    width: 10%;
}

.tutorial{
    position: absolute;
    bottom: 20%;
    left:50%;
    transform: translate(-50%, 0%);
    height: 25%;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}



@media screen and (max-width: 1000px){
    .door-title{
        font-size: 1.5rem;
    }
    .door-subtitle{
        font-size: 1rem;
    }
    .portfolio-title{
        font-size: 1.5rem;
    }
    .portfolio-subtitle{
        font-size: 1rem;
    }
    .list-portfolio{
        font-size: 1rem;
    }
}
@media screen and (max-width: 769px){
    .title-awal{
        font-size: 2rem;
        text-shadow: 1px 1px 0px white;
    }
    .subtitle-awal{
        font-size: 1rem;
    }
    .continue-awal{
        font-size: 1rem;
    }
    .door-title{
        font-size: 1.5rem;
    }
    .door-subtitle{
        font-size: 0.7rem;
    }
    .portfolio-title{
        font-size: 1.5rem;
    }
    .portfolio-subtitle{
        font-size: 0.7rem;
    }
    .list-portfolio{
        font-size: 0.7rem;
    }
    .btn-subtitle{
        display: block;
        font-size: 0.6rem;
    }
    .door-subtitle{
        display: none;
    }
    .door-text{
        top:40%;
    }
}
@media screen and (max-height: 450px) and (min-width: 840px){
    .title-awal{
        font-size: 2rem;
        text-shadow: 1px 1px 0px white;
    }
    .subtitle-awal{
        font-size: 1rem;
    }
    .continue-awal{
        font-size: 1rem;
    }
    .btn-subtitle{
        display: block;
        font-size: 0.6rem;
    }
    .door-subtitle{
        display: none;
    }
    .door-text{
        top:40%;
    }
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000050;
    border-radius: 10px;
}