body{
    overflow: hidden;
    margin: 0 !important;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.dark{
    filter: brightness(50%);
}
.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.home-display{
    width: 100lvw;
    height: 100lvh;
    margin: 0 auto;
    text-align: center;
    background-image: url("../../images/grass.gif");
    /* background-size: 24px 12px; */
}
.image-map{
    position:relative;
    height: 100vmin;
    width: 177.778vmin;
    margin: 0 auto;
}
.map{
    position: absolute;
    top:0;
    left: 0;
    height: 100vmin;
}
.sprite-box{
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 1;
    width: 3%;
}
.sprite{
    position: absolute;
    bottom: 70lvh;
    left: 10px;
    z-index: 1;
    width: 100%;
}
.sprite-up{
    opacity:0;
}
.sprite-left{
    opacity:0;
}
.sprite-right{
    opacity:0;
}
.arrow-menu{
    position: absolute;
    bottom: 2%;
    left: 48%;
    width: 5%;
    height: 10%;
    transform: translate(-50%, 50%);
    -webkit-transform: rotate(270deg); 
    transform:rotate(270deg); 
}
.help{
    cursor: pointer;
    width: 7%;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50px;
}
.sound{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8%;
    width: 7%;
    max-width: 50px;
}
.mute{
    display: none;
    width: 100%;
}
.music-on{
    width: 100%;
}