.modal-msg{
    display: none;
    position: relative;
    width: 15%;
    height: 15%;
    background-image: url(../../images/panel3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:2;
}
.modal{
    position:absolute;
    color: white;
    font-size: 0.85rem;
    left: 0; 
    right: 0; 
    top: 35%; 
    bottom: 0; 
    margin: auto; 
}
.sub-modal{
    position:absolute;
    color: white;
    font-size: 0.6rem;
    left: 0; 
    right: 0; 
    top: 55%; 
    bottom: 0; 
    margin: auto; 
}

.blue-msg{
    top: 35%;
    left: 5.5%;
}
.green-msg{
    top: 10%;
    left: 27%;
}
.red-msg{
    top: 35%;
    left: 43%;
}
.orange-msg{
    top: 49.5%;
    left: 66.5%;
}
.purple-msg{
    top: 3%;
    left: 70%;
}
.house-msg{
    top: 0%;
    left: 35%;
}
.menu-msg{
    top: 75%;
    left: 40.5%;
    width: 20%;
    height: 15%;
}

.modal-detail{
    display:none;
    position: relative;
    top:0;
    left:50%;
    transform: translate(-50%,-100%);
    width: 60vw;
    height: 100vh;
    background-image: url(../../images/Modal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    animation: fadein .5s;
}

.modal-detail-title{
    display: none;
    position: absolute;
    top: 0%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,0%);
}

.modal-title{
    font-family: 'Ancient';
    font-size: 4rem;
    color: #000050;
    text-shadow: 2px 2px 0px white;
    text-align: center;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}
.btn-close{
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 5%;
    width: 3%;
    z-index: 99;
}

.modal-awal{
    height: 80vh;
    width: 60vw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url(../../images/gallery.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: fadein .5s;
}

.title-awal{
    font-family: 'Ancient';
    font-size: 4rem;
    color: #000050;
    text-shadow: 2px 2px 0px white;
    text-align: center;
}

.subtitle-awal{
    width: 80%;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Pixeboy';
    font-size: 1.5rem;
    color: #000050;
    text-align: center;
}

.continue-awal{
    position: absolute;
    bottom: 10%;
    left:50%;
    font-family: 'Pixeboy';
    font-size: 1.5rem;
    color: #000050;
    transform: translate(-50%, 0%);
}

/* .tutorial{
    position: absolute;
    bottom: 20%;
    left:50%;
    transform: translate(-50%, 0%);
} */

.pas-foto{
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 25%;
}
.modal-subtitle-info{
    position: absolute;
    left: 45%;
    top: 60%;
    transform: translate(0%, -50%);
    width: 50%;
    height: 60%;

    font-family: "pixeboy";
    font-size: 1rem;
    overflow-y: scroll; 
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.modal-subtitle{
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translate(0%, -50%);
    width: 80%;
    height: 60%;

    font-family: "pixeboy";
    font-size: 1rem;
    overflow-y: scroll; 
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.title-in-ach{
    font-size: 1.2rem;
    margin-bottom: 0 !important;
}
.subtitle-in-ach{
    margin-left: 5%;
    margin-bottom: 4%;
    margin-top: 0 !important;
}

.title-in-exp{
    font-size: 1.2rem;
    margin-bottom: 0 !important;
}
.subtitle-in-exp{
    margin-bottom: 4%;
    margin-top: 0 !important;
}

.title-in-skill{
    font-size: 1.2rem;
    margin-bottom: 0 !important;
}
.subtitle-in-skill{
    margin-left: 5%;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.date-in-edu{
    text-align: right;
    margin-bottom: 0 !important;
}
.title-in-edu{
    font-size: 1.2rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.subtitle-in-edu{
    margin-left: 5%;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

@media screen and (max-width: 769px){
    .title-awal{
        font-size: 2rem;
        text-shadow: 1px 1px 0px white;
    }
    .subtitle-awal{
        font-size: 1rem;
    }
    .continue-awal{
        font-size: 1rem;
    }
    .modal{
        font-size: 0.5rem;
    } 
    .sub-modal{
        font-size: 0.35rem;
    }
    .modal-title{
        font-size: 2rem;
        text-shadow: 1px 1px 0px white;
    }
    .modal-subtitle{
        font-size: 0.7rem;
    }
    .modal-subtitle-info{
        font-size: 0.7rem;
    }
}
@media screen and (max-height: 450px) and (min-width: 840px){
    .title-awal{
        font-size: 2rem;
        text-shadow: 1px 1px 0px white;
    }
    .subtitle-awal{
        font-size: 1rem;
    }
    .continue-awal{
        font-size: 1rem;
    }
    .modal{
        font-size: 0.6rem;
    } 
    .sub-modal{
        font-size: 0.45rem;
    }
    .modal-title{
        font-size: 2rem;
        text-shadow: 1px 1px 0px white;
    }
    .modal-subtitle{
        font-size: 0.85rem;
    }
    .modal-subtitle-info{
        font-size: 0.85rem;
    }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000050;
    border-radius: 10px;
}