<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vallencius Gavriel's Portfolio World</title>
    <link href="../css/font.css" rel="stylesheet">
    <link href="../css/Home/home.css" rel="stylesheet">
    <link href="../css/Home/hitBoxes.css" rel="stylesheet">
    <link href="../css/Home/modalMenu.css" rel="stylesheet">
    <link href="../css/portrait.css" rel="stylesheet">
    <link href="../css/nav-button.css" rel="stylesheet">
</head>
<body>
    <div class="home-display dark">
        <div class="image-map">
            <div class="sprite-box">
                <img src="../images/sprite-up.gif" class="sprite me sprite-up">
                <img src="../images/sprite-down.gif" class="sprite me sprite-down">
                <img src="../images/sprite-left.gif" class="sprite me sprite-left">
                <img src="../images/sprite-right.gif" class="sprite me sprite-right">
            </div>
            <img src="../images/Map-Fix-NPC.gif" class="map">

            <!-- Hitbox -->
            <div class="hitbox-blue"></div>
            <div class="hitbox-green"></div>
            <div class="hitbox-red"></div>
            <div class="hitbox-orange"></div>
            <div class="hitbox-purple"></div>
            <div class="hitbox-house"></div>
            <div class="hitbox-pantai-kiri"></div>
            <div class="hitbox-pantai-kanan"></div>
            <div class="hitbox-pantai-menu"></div>

            <!-- Modal Menu on Map -->
            <div class="blue-msg modal-msg">
                <p class="modal">ACHIEVEMENTS</p>
                <p class="sub-modal">~ Press Space Bar to See ~</p>
            </div>
            <div class="green-msg modal-msg">
                <p class="modal">MY INFO</p>
                <p class="sub-modal">~ Press Space Bar to See ~</p>
            </div>
            <div class="red-msg modal-msg">
                <p class="modal">EXPERIENCES</p>
                <p class="sub-modal">~ Press Space Bar to See ~</p>
            </div>
            <div class="orange-msg modal-msg">
                <p class="modal">SKILLS</p>
                <p class="sub-modal">~ Press Space Bar to See ~</p>
            </div>
            <div class="purple-msg modal-msg">
                <p class="modal">EDUCATION</p>
                <p class="sub-modal">~ Press Space Bar to See ~</p>
            </div>
            <div class="house-msg modal-msg">
                <p class="modal">PORTFOLIO</p>
                <p class="sub-modal">~ Press Space Bar to See ~</p>
            </div>
            <div class="menu-msg modal-msg">
                <p class="modal">MAIN MENU</p>
                <p class="sub-modal">~ Press Space Bar to Go Back ~</p>
            </div>

            
            <img src="../images/arrow.gif" class="arrow-menu">

            <!-- Panel Subtitle -->
            <!-- <div class="blue-panel"></div> -->

            <!-- GUI -->
            <img src="../images/help.png" class="help">
            <div class="sound">
                <img src="../images/mute.png" class="mute">
                <img src="../images/music-on.png" class="music-on">
            </div>

            <!-- Mobile button -->
            <div class="arrow-up">
                <button class="up-button arr-button"></button>
                <!-- <img src="../images/up-button.png" class="up-button arr-button"> -->
            </div>
            <div class="arrow-key">
                <button class="left-button arr-button"></button>
                <button class="down-button arr-button"></button>
                <button class="right-button arr-button"></button>
                <!-- <img src="../images/left-button.png" class="left-button arr-button">
                <img src="../images/down-button.png" class="down-button arr-button">
                <img src="../images/right-button.png" class="right-button arr-button"> -->
            </div>
            <div class="btn-action">
                <button class="act-button"></button>
                <!-- <img src="../images/action-button.png" class="act-button"> -->
            </div>
        </div>
    </div>
        
    <!-- Portrait Mode -->
    <div class="portrait-mode">
        <img src="../images/rotatedevice.gif" class="rotate-device">
        <p class="rotate-sub">Please Rotate Your Phone Into Landscape Mode</p>
    </div>

    <!-- Modal Awal -->
    <div class="modal-awal">
        <p class="title-awal">Welcome to My World!</p>
        <p class="subtitle-awal">Walk using arrow key. Press space bar or action button (mobile) to interact with NPC or other surrounding. Come to my house to see my portfolios</p>
        <p class="continue-awal">~ Press any key to continue ~</p>
        <!-- Isinya dirubah nanti tampilin isi rumah sama lainnya -->
        <img src="../images/tutorial.png" class="tutorial">
    </div>
    
    <!-- Modal Details -->
    <div class="modal-detail">
        <img src="../images/close.png" class="btn-close">
        <div class="modal-detail-achievement modal-detail-title">
            <p class="modal-title">Achievements</p>
            <div class="modal-subtitle">
                <p class="title-in-ach">November - December 2019</p>
                    <p class="subtitle-in-ach">Awardee Online Schoolarship Competition (OSC) by medcom.id</p>
                <p class="title-in-ach">February 2018 and February 2019</p>
                    <p class="subtitle-in-ach">Back-to-back 1st winner of Computer Science National Olympiad (OSN) City level in 2018 and 2019</p>
            </div>
        </div>
        <div class="modal-detail-myinfo modal-detail-title">
            <p class="modal-title">My Information</p>
            <img src="../images/fotoVallen.jpg" class="pas-foto">
            <div class="modal-subtitle-info">
                <table>
                    <tr>
                        <td style="width: 30%">Full Name</td><td>:</td><td>Vallencius Gavriel Alfredo Siswanto</td>
                    </tr>
                    <tr>
                        <td>Gender</td><td>:</td><td>Male</td>
                    </tr>
                    <tr>
                        <td>Birth Date</td><td>:</td><td>January 19th, 2003</td>
                    </tr>
                    <tr>
                        <td>Address</td><td>:</td><td>Perumahan Mawar Asri A-7, Butuh, Kutowinangun Lor, Tingkir, Salatiga</td>
                    </tr>
                    <tr>
                        <td>Email</td><td>:</td><td>vallenciussiswanto@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td><td>:</td><td>088233632633</td>
                    </tr>
                    <tr>
                        <td>WhatsApp Number</td><td>:</td><td>088233632633</td>
                    </tr>
                    <tr>
                        <td>Line ID</td><td>:</td><td>valls1901</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-detail-experience modal-detail-title">
            <p class="modal-title">Experiences</p>
            <div class="modal-subtitle">
                <div class="exp-title">
                    <p class="title-in-exp">UMN ECO (Earth Caring Operation) 2022</p>
                    <p class="subtitle-in-exp">Lead Web Developer</p>
                </div>
                <div class="exp-subtitle">
                    <ul class="list-portfolio">
                        <li>Coordinate with the other team to ensure the website we made was suitable for what the other teams needed.</li>
                        <li>Manage a weekly meeting with my website developer to teach them about the framework and coding language that we use, Laravel, PHP, javascript, jquery, MySQL.</li>
                        <li>Dividing the task to finish our website and make sure everything is working correctly.</li>
                        <li>Hosting the website, and</li>
                        <li>Giving some evaluations for our next project.</li>
                    </ul>
                </div>
                <div class="exp-title">
                    <p class="title-in-exp">Web Developer</p>
                    <p class="subtitle-in-exp">Mentoring UMN 2022</p>
                </div>
                <div class="exp-subtitle">
                    <ul class="list-portfolio">
                        <li>Make the front-end of some pages.</li>
                        <li>Make the responsive page.</li>
                    </ul>
                </div>
                <div class="exp-title">
                    <p class="title-in-exp">DKBM UMN Gen XII</p>
                    <p class="subtitle-in-exp">Web Developer</p>
                </div>
                <div class="exp-subtitle">
                    <ul class="list-portfolio">
                        <li>Make and maintain the database.</li>
                        <li>Make javascript for validation, sweetalert, modal, and some animation</li>
                        <li>Maintaining middleware</li>
                        <li>Making auto mail feature, and</li>
                        <li>Hosting the website.</li>
                    </ul>
                </div>
                <div class="exp-title">
                    <p class="title-in-exp">Mentoring UMN 2021</p>
                    <p class="subtitle-in-exp">Admin</p>
                </div>
                <div class="exp-subtitle">
                    <ul class="list-portfolio">
                        <!-- <li>Make and maintain the database.</li>
                        <li>Make javascript for validation, sweetalert, modal, and some animation</li>
                        <li>Maintaining middleware</li>
                        <li>Making auto mail feature, and</li>
                        <li>Hosting the website.</li> -->
                    </ul>
                </div>
                <!-- <div class="exp-title">
                    <p>Web Developer</p>
                    <p>DKBM UMN Gen XII</p>
                </div>
                <div class="exp-subtitle">

                </div> -->
            </div>
        </div>
        <div class="modal-detail-education modal-detail-title">
            <p class="modal-title">Education</p>
            <div class="modal-subtitle">
                <div class="edu-title">
                    <p class="date-in-edu">2020 - Present</p>
                    <p class="title-in-edu">Multimedia Nusantara University</p>
                    <p class="subtitle-in-edu">Faculty of Engineering and Informatics</p>
                    <p class="subtitle-in-edu">Major in Informatics</p>
                </div>
                <div class="edu-title">
                    <p class="date-in-edu">July 2017 - June 2020</p>
                    <p class="title-in-edu">SMA Kristen 1 Salatiga</p>
                    <p class="subtitle-in-edu">Major in Science</p>
                </div>
            </div>
        </div>
        <div class="modal-detail-skills modal-detail-title">
            <p class="modal-title">Skills</p>
            <div class="modal-subtitle">
                <div class="skill-title">
                    <p class="title-in-skill">Software Skills</p>
                        <p class="subtitle-in-skill">Microsoft Word - Excelent</p>
                        <p class="subtitle-in-skill">Microsoft PowerPoint - Excelent</p>
                        <p class="subtitle-in-skill">Microsoft Excel - Intermediate</p>
                    <p class="title-in-skill">Language Skills</p>
                        <p class="subtitle-in-skill">English (Writing - fluent, Speaking - Intermediate)</p>
                        <p class="subtitle-in-skill">Bahasa Indonesia (Writing - fluent, Speaking - Fluent)</p>
                    <p class="title-in-skill">Coding Skills</p>
                        <p class="subtitle-in-skill">HTML, CSS, JS - Intermediate</p>
                        <p class="subtitle-in-skill">C, C++ - Intermediate</p>
                        <p class="subtitle-in-skill">Java - Intermediate</p>
                        <p class="subtitle-in-skill">PHP - Intermediate</p>
                        <p class="subtitle-in-skill">MySQL - Intermediate</p>
                    <p class="title-in-skill">Framework Skills</p>
                        <p class="subtitle-in-skill">Laravel - Intermediate</p>
                        <p class="subtitle-in-skill">Bootstrap - Intermediate</p>
                        <p class="subtitle-in-skill">JQuery - Intermediate</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <embed src="../audio/main.mp3" width="180" height="90" loop="false" autostart="false" hidden="true" /> -->
    <embed src="../audio/main.mp3" loop="true" autostart="true" width="2" height="0">
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/firstModal.js"></script>
<script src="../js/button.js"></script>
<script src="../js/character.js"></script>
<script src="../js/collisionAlert.js"></script>
<script src="../js/portrait.js"></script>
<script src="../js/audio.js"></script>
</html>