<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My House</title>
    <link href="../css/Portfolio/main.css" rel="stylesheet">
    <link href="../css/Portfolio/hitBoxes.css" rel="stylesheet">
    <link href="../css/portrait.css" rel="stylesheet">
</head>
<body>
    <div class="main-display">
        <div class="image-map">
            <img src="../images/House-inside.png" class="map">
            <div class="sprite-box">
                <img src="../images/sprite-up.gif" class="sprite me sprite-up">
                <img src="../images/sprite-down.gif" class="sprite me sprite-down">
                <img src="../images/sprite-left.gif" class="sprite me sprite-left">
                <img src="../images/sprite-right.gif" class="sprite me sprite-right">
            </div>

            
            <!-- Hitbox -->
            <div class="hitbox-atas"></div>
            <div class="hitbox-kiri"></div>
            <div class="hitbox-kanan"></div>
            <div class="hitbox-fire"></div>
            <div class="hitbox-door"></div>
            <div class="hitbox-bawah"></div>
            <div class="hitbox-portfolio-1"></div>
            <div class="hitbox-portfolio-2"></div>
            <div class="hitbox-portfolio-3"></div>
            <div class="hitbox-portfolio-4"></div>

            <!-- Portrait Mode -->
            <div class="portrait-mode">
                <img src="../images/rotatedevice.gif" class="rotate-device">
                <p class="rotate-sub">Please Rotate Your Phone Into Landscape Mode</p>
            </div>
        </div>

        <div class="door-msg">
            <div class="door-text">
                <p class="door-title">Go Outside?</p>
                <p class="door-subtitle">~ Press space bar to go outside ~</p>
            </div>
        </div>

        <!-- Modal -->
        <div class="portfolio-msg portfolio-msg-1">
            <div class="portfolio-text">
                <p class="portfolio-title">Web UMN ECO</p>
                <p class="portfolio-subtitle">~ Press space bar to go outside ~</p>
            </div>
        </div>
        <div class="portfolio-msg portfolio-msg-2">
            <div class="portfolio-text">
                <p class="portfolio-title">Web DKBM</p>
                <p class="portfolio-subtitle">~ Press space bar to go outside ~</p>
            </div>
        </div>
        <div class="portfolio-msg portfolio-msg-3">
            <div class="portfolio-text">
                <p class="portfolio-title">Web Deny's Kitchen</p>
                <p class="portfolio-subtitle">~ Press space bar to go outside ~</p>
            </div>
        </div>
        <div class="portfolio-msg portfolio-msg-4">
            <div class="portfolio-text">
                <p class="portfolio-title">Web Mentoring</p>
                <p class="portfolio-subtitle">~ Press space bar to go outside ~</p>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/Portfolio/portfolio-collision.js"></script>
<script src="../js/Portfolio/portfolio-character.js"></script>
<script src="../js/portrait.js"></script>
</html>